*{
    margin: 0;
    padding: 0;
}
html,body{
    width:100%;
    height:100%;
    box-sizing: border-box;
}
.seeproject{
    width:100%;
    height:calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;

}
.detailofproject{
    width: 700px;
    height:260px;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.detailofproject a{
    text-decoration: none;
    color: black;

}
.detailofproject a:hover{
   border-bottom: 1px solid black;
    color:blue;
}
.detailofproject img{
    width:100px;
    height:100px;
    border:1px solid mediumaquamarine;
    animation:git 3s ease infinite;
}
@keyframes git {
    0%{
        border-top-right-radius: 150%;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 60%;
      }
     25%{
      border-top-left-radius:150% ;
     }
     50%{
      border-top-right-radius: 110%;
     }
     75%{
      border-bottom-left-radius: 170%;
     }
     80%{
      border-bottom-right-radius: 200%;
      
     }
     100%{
      border-top-right-radius: 150%;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 60%;
    
     }
    
}

@media only screen and (max-width: 768px){
 .seeproject{
    width:100%;
    align-items: self-start;
 }
 .detailofproject{
    text-align: center;
    
 }

}